.product {
	z-index: 5;

	display: grid;

	margin-top: 30px;
	padding: 30px 30px 15px;
	grid-template-columns: 70px 30px calc(50% - 120px) 20px 1fr auto 40px auto 40px auto;
	grid-template-areas:
		"logo . title . . price . credit . rating"
		"logo . tags . .  priceTitle . creditTitle . ratingTitle"
		"hr hr hr hr hr hr hr hr hr hr"
		"descr descr descr descr descr descr descr descr descr descr"
		"features features features features advBlock advBlock advBlock advBlock advBlock advBlock"
		"hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2 hr2"
		"actions actions actions actions actions actions actions actions actions actions";
}

.logo {
	grid-area: logo;
}

.logo img {
	border-radius: 5px;
}

.title {
	grid-area: title;
}

.tags {
	grid-area: tags;
}

.price {
	grid-area: price;

	white-space: nowrap;
}

.credit {
	grid-area: credit;

	white-space: nowrap;
}

.rating {
	grid-area: rating;

	white-space: nowrap;
}

.priceTitle {
	grid-area: priceTitle;
}

.creditTitle {
	grid-area: creditTitle;
}

.ratingTitle {
	grid-area: ratingTitle;
}

.ratingTitle a:hover {
	color: var(--primary);
}

.hr {
	grid-area: hr;
}

.hr2 {
	grid-area: hr2;
}

.description {
	grid-area: descr;

	margin-bottom: 15px;

	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.features {
	grid-area: features;

	padding-right: 60px;
}

.advBlock {
	grid-area: advBlock;

	font-size: 16px;
	line-height: 22px;
}

.actions {
	grid-area: actions;
}

.feature {
	display: grid;
	grid-template-columns: auto 1fr auto;

	font-size: 16px;
	line-height: 32px;
	gap: 10px;
}

.featureTitle {
	font-weight: bold;
}

.featureDots {
	margin-bottom: 8px;

	border-bottom: 1px dashed var(--gray-light);
}

.title,
.price,
.credit,
.rating {
	align-self: flex-end;
}

.price,
.credit {
	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
}

.discount {
	margin-left: 5px;
}

.credit .smaller,
.priceTitle,
.creditTitle,
.ratingTitle {
	font-size: 14px;
	line-height: 19px;
}

.category {
	margin-top: 7px;
}

.advTitle {
	margin-bottom: 5px;

	font-weight: bold;
}

.advantages {
	margin-bottom: 25px;
	padding-left: 15px;

	border-left: 2px solid var(--green-light);
}

.disadvantages {
	padding-left: 15px;

	border-left: 2px solid var(--red);
}

.actions button:last-child {
	margin-left: 20px;
}

.reviews {
	padding: 30px;
}

.reviewsWrapper {
	overflow: hidden;

	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

@media (max-width: 1320px) {
	.product {
		grid-template-columns: 70px 30px auto 30px auto 30px 1fr;
		grid-template-areas:
			"logo . title title title title title"
			"logo . tags tags tags tags tags"
			"price price price . credit . rating"
			"priceTitle priceTitle priceTitle . creditTitle . ratingTitle"
			"hr hr hr hr hr hr hr"
			"descr descr descr descr descr descr descr"
			"features features features features features features features"
			"advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
			"hr2 hr2 hr2 hr2 hr2 hr2 hr2"
			"actions actions actions actions actions actions actions";
	}

	.features {
		margin-bottom: 15px;
		padding-right: 40px;
	}

	.logo {
		margin-bottom: 15px;
	}

	.tags {
		margin-bottom: 15px;
	}
}

@media (max-width: 900px) and (min-width: 766px) {
	.product {
		grid-template-areas:
			"logo . title title title title title"
			"logo . tags tags tags tags tags"
			"priceTitle priceTitle price price price price price"
			"creditTitle creditTitle credit credit credit credit credit"
			"ratingTitle ratingTitle rating rating rating rating rating"
			"hr hr hr hr hr hr hr"
			"descr descr descr descr descr descr descr"
			"features features features features features features features"
			"advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
			"hr2 hr2 hr2 hr2 hr2 hr2 hr2"
			"actions actions actions actions actions actions actions";
	}

	.price {
		margin-bottom: 10px;
	}

	.credit {
		margin-bottom: 10px;
	}
}

@media (max-width: 640px) {
	.product {
		grid-template-columns: 70px 30px 1fr;
		grid-template-areas:
			"logo . title"
			"logo . tags"
			"priceTitle priceTitle price"
			"creditTitle creditTitle credit"
			"ratingTitle ratingTitle rating"
			"hr hr hr"
			"descr descr descr"
			"features features features"
			"advBlock advBlock advBlock"
			"hr2 hr2 hr2"
			"actions actions actions";
	}

	.price {
		margin-bottom: 10px;
	}

	.credit {
		margin-bottom: 10px;
	}

	.features {
		padding-right: unset;
	}
}

@media (max-width: 480px) {
	.product {
		grid-template-columns: 1fr;
		grid-template-areas:
			"logo"
			"title"
			"tags"
			"priceTitle"
			"price"
			"creditTitle"
			"credit"
			"ratingTitle"
			"rating"
			"hr"
			"descr"
			"features"
			"advBlock"
			"hr2"
			"actions";
	}
}
