.card {
	padding: 15px;
}

.title {
	margin-block: 20px;

	/* text-transform: uppercase; */
}

.link {
	display: block;
	overflow: hidden;

	cursor: pointer;

	/* margin-top: 10px; */
}

/* .link */

.link:hover {
	color: var(--primary);

	/* cursor: pointer; */
}

.noHeight {
	height: 0;
}

.button {
	padding: 0;

	cursor: pointer;

	border: none;
	background: none;
}

.button:hover {
	color: var(--primary);
}
