.card {
	padding: 15px;
}

.title {
	margin-block: 20px;
}

.linkListItem {
	display: block;

	overflow: hidden;
}

.link {
	outline-offset: -1px;
}

.link:hover {
	color: var(--primary);
}

.noHeight {
	height: 0;
}

.button {
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
}

.button:hover {
	color: var(--primary);
}
