.firstLevel {
	display: grid;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	line-height: 25px;
	gap: 20px;
	grid-template-columns: 24px 1fr;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-bottom: 10px;
	padding: 0;

	text-transform: uppercase;

	color: var(--gray-dark);
	border: none;
	background: none;

	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

.secondLevelBlock {
	overflow: hidden;
}

.secondBlock {
	margin-top: 15px;
	margin-left: 12px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.thirdLevel {
	display: block;

	color: var(--gray-dark);
	outline-offset: -1px;

	font-size: 14px;
	font-weight: 500;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
