html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F9F8FF;

	font-family:
		"Noto Sans",
		sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		transition-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
	}
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray: #A4A4A4;
	--gray-dark: #6D7279;
	--white: #FFF;
	--primary: #7653FC;
	--primary-hover: #A18AFC;
	--red-light: #FABAAF;
	--red: #FC836D;
	--green: #007C48;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}

.vHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

.dNone {
	display: none;
}
